<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361347761242-r1ur7h059hoq8igshj7pi6r28sdt7r64.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361347761242-r1ur7h059hoq8igshj7pi6r28sdt7r64</string>
	<key>API_KEY</key>
	<string>AIzaSyCVt7DoYRICvhG8F_ErqXZ3jjUUqJ3D4Kk</string>
	<key>GCM_SENDER_ID</key>
	<string>361347761242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-flutter-project11</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-flutter-project11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361347761242:ios:fc6eef16c554ca71b44463</string>
</dict>
</plist>